  
$primary:#E9B34E;
$info:#6DDBF4;
$black:#021F38;
$dark:#161E26;
$danger: #FF0202;
$success: #00A149;
$secondary: #B4B4B4;
$light: white;
$theme-colors: ("primary": $primary,
"danger": $danger,
"success": $success,
"secondary": $secondary,
"light": $light,
"dark": $dark,
'info':$info,
'black':$black
);
